@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

/* Define the custom font */
@font-face {
  font-family: 'Hellix';
  src: url('./assets/fonts/Hellix-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Hellix', sans-serif;
}